* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #323942;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #323942;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: #323942;
    font-weight: bold;
    font-size: 36 px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #4f7cc0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero */

.hero {
    background-image: url("./images/skyline.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-text {
    background-color: #4f7cc0;
    padding: 20px;
    color: #323942;
    font-weight: bolder;
    width: 21%;
    margin:30% 0 3.5% 50%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-wrap: wrap;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
}

.about-text {
    background-color: whitesmoke;
    width: 30%;
    margin: 50px auto;
    color: #323942;
    text-align: center;
    font-size: 48px;
    border-right: 1px solid #323942;
}

.about-p {
    font-size: 20px;
    line-height: 1.5;
    width: 60%;
    margin: 20px auto;
    color: #323942;
    text-align: left;
}